<header class="p-3 mb-3 bg-dark text-white">
<div class="container">
	<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
		<a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
			<img class="me-2 me-lg-4 pixel-art" width="63" height="63"
			src="CarbonadoLogo.png" />
		</a>

		<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
			<li><a href="/#" class="nav-link px-3 text-white">Home</a></li>
			<li><a href="#frag-faq" class="nav-link px-3 text-white">FAQ</a></li>
			<li><a href="#frag-about" class="nav-link px-3 text-white">About</a></li>
		</ul>

		<div class="text-center text-lg-end">
			<button type="button" onclick="window.location.href = '/api'" class="btn btn-outline-light me-2 mb-2">
				API <i class="bi bi-code-slash"></i>
			</button>
			<button type="button" onclick="window.location.href = '/wallet'" class="btn btn-outline-light mb-2 me-2">
				Wallet <i class="bi bi-wallet2"></i>
			</button>
			<button type="button" onclick="window.location.href = '/explorer'" class="btn btn-warning mb-2">
				Blockchain <i class="bi bi-layers"></i>
			</button>
		</div>
	</div>
</div></header>